<p class="introduce centered-text" style="padding-top: 30px; font-size:24px;">
  Scriptwith.me lets you write a script or story with anyone.
</p>
<br>
<% if @partnername == nil or @partnername.include?("guest_") == true %>
<div class="centered-text">
  <span>
    Someone has invited you to help write their script!
  </span>
</div>
<% else %>
<div class="centered-text">
  <span>
    <%= link_to @partnername, @partner %> has invited you to join their scene!
  </span>
</div>
<% end %>

<!-- form for new character name and scene start -->
<div class="introduce form-wrapper start-the-scene-form centered-text" style="margin-top: 10%;">
	<div class="ibl" align="center">
    	<h3> To join give your character a name: </h3>
    	<%= image_tag "usericon-small.png", :alt => "usericon", style: 'height:100px; width:100px; margin-top:-27px; margin-left:-120px;', align: 'left' %> 
    	<%= form_for :join do |f| %>
    		<div class="input-group" style="margin-top:5px;margin-bottom:-15px;width: 100%;max-width:305px;">
        		<%= f.text_field :character, class: "form-control centered-text", style: "font-size:22px;" , placeholder: 'eg. Bobby', autofocus: true %>
        		<span class="input-group-btn">
        			<%= f.submit 'Go', class: 'btn btn-default', style: 'height: 34px;' %>
     			</span>
      		</div>
    	<% end %>
  	</div>
</div>

<!-- notify the partner that we are joining -->
<%= render partial: 'scenes/friendconnect/isjoining.js.erb'%>
