<!-- show the lead in/start of scene -->
<div class="scene_container clearfix" id="scene_container">
  <p class="lead"> Intro: </p>
  <br>
  <p class="lead uppercase"> <%= @title %> </p>
  <br> 
  <p class="lead" style="padding-bottom:30px;"> <%= @content %> </p>
  <div class="vline"></div>
    <!-- show the scene user created lines-->
    <!-- check if any lines currently exist and if not, let the users know -->
    <% if @scene.lines.count == 0 %>
      <p class="sayline emptyscript" align="center">
        <em>And... Begin scene!</em>
    </p>
    <% end %>
    <!-- list all currently posted lines -->
    <% @scene.lines.order("created_at").each_with_index do |line, i| %>
    <!-- stuff for line removal -->
    <% @lineid = line.id.to_s.chomp('?#{@scene.id}')%>
      <!-- check what kind of line this is and display it appropriately -->
      <% if line.kind == "Say" %>
      	<% if i != 0 and @scene.lines[i-1].nickname == line.nickname %>
      		<p class="sayline" style="margin-top:-25px;" id=<%= @lineid %>>
          <span class="line"> <%= line.content %></span>
         </p>
      	<% else %>
       		<p class="sayline" id=<%= @lineid %>>
      	    	<span class="character centered-text"> <%= line.nickname %></span>
       		<span class="line"> <%= line.content %></span>
        	</p>
        	<% end %>
        <% elsif line.kind == "Narrative" %>
          <p class="narrativeline" id=<%= @lineid %>>
<!--        <span class="character"> <%= line.nickname %> </span>-->
            <span class="line"> <%= line.content %></span>
          </p>
        <% elsif line.kind == "Cut-to" %>
          <p class="narrativeline" id=<%= @lineid %>>
<!--        <span class="character"> <%= line.nickname %> </span>-->
            <span class="line"> <%= line.content.upcase %></span>
          </p>
        <% end %>
      <% end %>
      <!-- end list of currently posted lines -->
  <!-- end scene user lines -->
</div>