
<!-- subscribe to the side chat channel via private_pub/faye -->
<% @sidesubscribe = "/scenes/#{params[:id]}/show/sidechat" %>
<%= @sidesubscribed = subscribe_to @sidesubscribe %>

<a id="sidechattoggle" class="btn btn-primary btn-lg toggle"><i class="fa fa-comments-o"></i></a>
<div id="sidechat" class="leather">
  <ul class="sidebar-nav" style="height: 100%;">
		<a id="sidechatclose" class="btn btn-default pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidechat-brand"><%= link_to "Sidechat", nil %></li>
    <div id="sidechatlog" style="overflow-y: hidden;background: rgba(255, 255, 255, .5);height:100%;">
									<div>
                    <p class="robofont" align="center" style="padding-top:15px;padding-bottom:10px;border-bottom-width: 1px; border-bottom-color: #eaeaea;border-bottom: dotted;">Discuss scene here.</p>
									</div>
								</div>
								
								<!-- start of the form for adding a new sidechat message -->
								<%= form_for :sidechatsend, url: sidechatsend_path, :html => { :id => 'sidechat_submit'}, remote: true, class: 'clearfix' do |f| %>
										<div class="input-group" style="width: 245px;">
                      <%= f.text_field :content, id: 'sidechatinput', class: 'form-control', style: 'background: rgba(255, 255, 255, .5);', :autocomplete => :off %>
												<span class="input-group-btn">
													<%= f.submit 'Send', disable_with: 'Sending…', class: 'btn btn-default robofont', style: 'height: 34px;background: rgba(255, 255, 255, .5);' %>
												</span>
										</div>
								<% end %>
								<!-- end new sidechat message form -->
	</ul>
</div>

<script>
$("#sidechatclose").click(function(e) {
	e.preventDefault();
	$("#sidechat").toggleClass("active");
  $("#sidechat_submit").toggleClass("active");
});
$("#sidechattoggle").click(function(e) {
	e.preventDefault();
  document.getElementById('sidechattoggle').style.backgroundColor='#428BCA';
	$("#sidechat").toggleClass("active");
  $("#sidechat_submit").toggleClass("active");
});
</script>
